@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --grey-1: #d8d3d3;
  --grey-2: #a39d9d;
  --grey-3: #928a8a;
  --grey-4: #928a8a;
  --black-1: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  color: var(--black-1);
}

.App {
  height: 100vh;
  display: flex;
}
